@charset "utf-8";
/* --------------------------------------- */
/* -------------- INITIALISATION --------- */
/* --------------------------------------- */
body { 
	font-family: "Arial", Helvetica, sans-serif;
	color: #464646; font-size: 62.5%;
	background-color: #fff;
}
* { margin: 0; padding: 0; }
ul { list-style-type: none; }
img, table, canvas { border: 0; max-width: 100%; width: auto; height: auto; }
table { width: 100%; height: 100%; border-spacing: 0; }
	/* liens */
a, a:link, a:visited {color: #000; outline: 0; text-decoration: none; }
a:focus { outline: thin dotted; }
	/* html 5 */
header, nav, footer, figure, section, article, figcaption, aside {display: block;}


/* --------------------------------------- */
/* ----------------- MAIN ---------------- */
/* --------------------------------------- */
#main, #main2, #main3 {
	width:760px;
	height: auto;
	background-color: gray;
}
#col_right {
	float:right;
	width: 340px; /*380*/
	background-color: rgb(167,124,98);
	padding: 20px 20px;
	height: 500px
}
#col_left {
	float:left;
	width: 340px;
	background-color: rgb(233,207,167);
	padding: 20px 20px;
	height: 500px
}
.clear {
	clear: both;
}

/* --------------------------------------- */
/* ------ COL_LEFT & COL_RIGHT ------ */
/* --------------------------------------- */
#col_right a, #col_left a{
	color:white;
}
.subtitle{
	font-size: 1.4em;
	margin-bottom: 40px;

}
#col_left h1, #col_right h1{
	text-align: center;
	font-size: 2.2em;
	margin-top: 20px;
}
.text_under_btn {
	font-size: 1.3em;
	margin-top:40px;
}

.btn {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0px;
	color: #ffffff;
	padding: 8px 33px 8px 33px;
	text-decoration: none;
	border:none;
	font-family: "Arial";
	font-size:1.4em;
	cursor: pointer;
}

/* --------------------------------------- */
/* ------ VOTE REDACTEUR (COL_LEFT) ------ */
/* --------------------------------------- */
.btn_green {
	background: #a9c206;
	background-color:#a9c206;
	-webkit-box-shadow: 0px 4px 0px #61a200;
	-moz-box-shadow: 0px 4px 0px #61a200;
	box-shadow: 0px 4px 0px #61a200;
	margin-left: 45px; 
}

/* --------------------------------------- */
/* --------- NEWSLETTER (COL_RIGHT) ------ */
/* --------------------------------------- */
.btn_orange {
	background: #ff9b43;
	background-color: #ff9b43;
	-webkit-box-shadow: 0px 4px 0px #d3655f;
	-moz-box-shadow: 0px 4px 0px #d3655f;
	box-shadow: 0px 4px 0px #d3655f;
	margin-left: 65px; 
}
#col_right input {
	margin-left: 111px;
	margin-bottom: 20px;
}

.msg_error1 p {
	font-size: 1.4em;
	padding-bottom: 10px;
	margin-left: 65px;
	color:red;
}
.msg_succes p {
	font-size: 1.5em;
	padding-bottom: 10px;
	margin-left: 65px;
	color:green;
}

/* --------------------------------------- */
/* ------------ PAGE NEWSLETTER ---------- */
/* --------------------------------------- */
#main2 {
	width:660px;
	padding: 20px 50px;
}
#main2 header {
	width: 400px;
	height: auto;
	margin: 0 auto;
	padding-bottom: 20px;
}
#main2 header h1, #main2 header p {
	text-align: center;
}
#main2 header h1{
	font-size: 2em;
}
#main2 header p {
	font-size: 1.4em;
}
#main2 .content {
	margin:0 auto;
	width: 670px;
	background-color: red;

}
#main2 .bloc_redacteur {
	margin:0 auto;
	height: auto;
	background-color: green;
	padding:10px 20px 10px 11px;

}
#main2 article{
	width: 190px;
	display: inline-block;
	border:2px solid black;
	margin-left: 15px

}
/* --------------------------------------- */
/* ------------ PAGE DE FIN APRES AVOIR VOTE ---------- */
/* --------------------------------------- */
.clear {
	clear:both;
}
#main3 {
	width:660px;
	padding: 20px 50px;
	background-color: rgb(231,176,118);
	background-image: url('../img/bg_404-coupe-H2.png');
	background-position:center center;
	background-repeat:no-repeat;
	background-size: 100% 100%;

}
#main3 header {
	width: 400px;
	height: auto;
	margin: 0 auto;
	padding-bottom: 20px;
}
#main3 header h1, #main3 header p, #main3 header h2 {
	text-align: center;
}
#main3 header h1{
	font-size: 2em;
}
#main3 header h2{
	font-size: 2em;
	margin-bottom: 10px;
}
#main3 p {
	font-size: 1.4em;
}
#main3 .bloc_social {
	width: 540px;
	margin: 0px auto;
}
#main3 .btn_social {
	width: 160px;
	height: 150px;
	background-color: rgb(230,201,151);
	float: left;
	margin: 10px 10px;
	padding: 20px 15px;
	border-radius: 200px;
	border: 30px solid rgb(155,114,84);
}
#main3 .btn_social p {
	margin-top: 30px;
	font-size: 1.5em;
	text-align: center;
}
#main3 .fb-like {
	margin-top: 20px;
	width: 100%;
	text-align: center;
}
#main3 .btn_social p a {
	display: block;
	margin-top: 40px;
	text-align: center;
	font-weight: bold;
}
#main3 .btn_social p a:hover {
	text-decoration: underline;
}
#main3 .btn_social button {
	background-image:-moz-linear-gradient(rgb(76,105,186), rgb(59,85,160));
	background-image:-webkit-linear-gradient(rgb(76,105,186), rgb(59,85,160));
	background-image:-o-linear-gradient(rgb(76,105,186), rgb(59,85,160));
	background-image:linear-gradient(rgb(76,105,186), rgb(59,85,160));
	color:white;
	border: none;
	border-radius: 3px;
	font-weight: bold;
	padding: 2px 5px;
	margin-top: 38px;
	text-align: center;
	font-size: 0.75em;
}
#main3 .comments {
	height: auto;
	width: auto;
	background-color: rgb(230,201,151);
}

.visit_site {
	margin-top: 15px;
	background-color: rgb(230,201,151);
	width: 100%;
	height:50px;
	border-radius: 15px;
	border: 7px solid rgb(155,114,84);
	text-align: center;
}
.visit_site p{
	margin-top: 15px;
	font-size: 1.7em!important;

}
.visit_site a{
	color:rgb(236,71,65);
	font-weight: bold;
}
.visit_site a:hover{
	text-decoration: underline;
}

.comments {
	margin
	padding: 10px 20px;
	border-radius: 15px;
	border: 7px solid rgb(155,114,84);
}
.comments h4 {
	font-size: 1.6em;
	margin: 20px 0px;
	text-align: center;
}

/* --------------------------------------- */
/* --------------- BUTTON ---------------- */
/* --------------------------------------- */

/*.btn_orange:hover, #btn_pdf button:hover  {
	box-shadow: none;
	margin-top:4px;
}*/








